In [1]:
import pandas as pd
import math

In [31]:
df = pd.read_csv('adjacency_matrix_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category,visited_location_ids
0,1,"[[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ...","[9197, 8957, 8956, 9208, 9066, 883057, 9294, 9..."
1,2,"[[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ...","[8998, 8957, 9025, 8956, 8988, 9056, 9057, 898..."
2,3,"[[0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[8998, 8957, 8956, 8988, 9070, 9072, 9076, 907..."
3,4,"[[0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ...","[9056, 8957, 8956, 9208, 8988, 883057, 9308, 9..."
4,5,"[[0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ...","[8957, 883057, 8988, 9117, 226476, 8997, 9066,..."

In [2]:
df = pd.read_csv('adjacency_matrix_weekday_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category
0,1,"[[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ..."
1,2,"[[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ..."
2,3,"[[0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,4,"[[0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ..."
4,5,"[[0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ..."

In [11]:
df = pd.read_csv('adjacency_matrix_weekend_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category
0,1,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ..."
1,2,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ..."
2,3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,4,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ..."
4,5,"[[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ..."

In [12]:
df = pd.read_csv('distance_matrix_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category
0,1,"[[0, 0.4448580662229411, 0, 0, 0, 0, 0, 0, 0, ...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ..."
1,2,"[[0, 0.9607894391523232, 0, 0, 0, 0, 0, 0, 0, ...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ..."
2,3,"[[0, 0.9607894391523232, 0, 0, 0.9139311852712...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,4,"[[0, 1.0, 0, 0.9607894391523232, 1.0, 1.0, 0, ...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ..."
4,5,"[[0, 1.0, 1.0, 4.785117392129009e-06, 0, 0, 0,...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ..."

In [13]:
df = pd.read_csv('duration_matrix_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category
0,1,"[[0, 0.0006823280527563766, 0, 0, 0, 0, 0, 0, ...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ..."
1,2,"[[0, 7.974109428608353e-161, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ..."
2,3,"[[0, 0.005041760259690979, 0, 0, 0.77880078307...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,4,"[[0, 0.0, 0, 0, 1.0, 0.0, 0, 0, 0, 0, 0, 0, 0,...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ..."
4,5,"[[0, 5.798655418564038e-119, 0, 0.000123409804...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ..."

In [14]:
df = pd.read_csv('features_matrix_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category
0,1,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ..."
1,2,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ..."
2,3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0,...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,4,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0,...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ..."
4,5,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 0,...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ..."

In [15]:
df = pd.read_csv('features_matrix_weekday_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category
0,1,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ..."
1,2,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ..."
2,3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0,...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,4,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0,...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ..."
4,5,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 0,...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ..."

In [16]:
df = pd.read_csv('features_matrix_weekend_not_directed_48_7_categories_US.csv')
df.head()

,user_id,matrices,category
0,1,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[4, 5, 1, 2, 1, 2, 6, 1, 6, 4, 2, 2, 3, 5, 2, ..."
1,2,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 1, 2, 0, 2, 2, 3, 2, 2, 2, 6, 4, 2, ..."
2,3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[2, 5, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,4,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 5, 1, 2, 2, 2, 2, 4, 6, 5, 3, 2, 1, 5, 0, ..."
4,5,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[5, 2, 2, 6, 1, 2, 1, 1, 2, 2, 2, 6, 4, 2, 5, ..."

In [8]:
files = ['adjacency_matrix_not_directed_48_7_categories_US.csv',
        'adjacency_matrix_weekday_not_directed_48_7_categories_US.csv',
        'adjacency_matrix_weekend_not_directed_48_7_categories_US.csv',
        'distance_matrix_not_directed_48_7_categories_US.csv',
        'duration_matrix_not_directed_48_7_categories_US.csv',
        'features_matrix_not_directed_48_7_categories_US.csv',
        'features_matrix_weekday_not_directed_48_7_categories_US.csv',
        'features_matrix_weekend_not_directed_48_7_categories_US.csv']

limit = 2000
for file in files:
    df = pd.read_csv(file)
    df.drop(df.loc[df['user_id'] > limite].index, inplace=True)    
    df.to_csv('processed_data/'+file)